$yellow: #ffb124;
$darkYellow: #e8991a;
$blue: #0096a2;
$lightBlue: #00ced3;
$darkViolette: #0f0011;
$violette: #9800ac;
$darkGray: #838383;
$grayBlack: #1a1a1a;
$fourWinsBlue: #005e64;
$fourWinsRed: #4f0000;
