@import "/styles/abstracts/colors";
@import "/styles/abstracts/fonts";

.transparentBtn {
  color: white;
  padding: 0.7rem 2rem;
  background: none;
  border: none;
  position: relative;
  letter-spacing: 0.06rem;

  cursor: pointer;
  &:after,
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid white;
    border-radius: 0.6rem;
    transition: all 0.6s;
    transform: translate(0);
  }
  @media screen and (hover: hover) {
    &:hover {
      &:after {
        transform: translate(0px, 3px);
      }
      &:before {
        border-color: $yellow;
        transform: translate(0px, -3px);
      }
    }
  }
  &:active {
    color: $yellow;
    &:after {
      border-color: $yellow;
    }
    &:before {
      border-color: $yellow;
    }
  }
  // @media screen and (hover: none) {
  //   &:active {
  //   }
  // }
}
