@import "/styles/abstracts/colors";
@import "/styles/abstracts/fonts";

.transparentBtn {
  color: white;
  padding: 0.7rem 2rem;
  background: none;
  border: none;
  position: relative;
  letter-spacing: 0.06rem;

  cursor: pointer;
  &:after,
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid white;
    border-radius: 0.6rem;
    transition: all 0.6s;
    transform: translate(0);
  }
  @media screen and (hover: hover) {
    &:hover {
      &:after {
        transform: translate(0px, 3px);
      }
      &:before {
        border-color: $yellow;
        transform: translate(0px, -3px);
      }
    }
  }
  &:active {
    color: $yellow;
    &:after {
      border-color: $yellow;
    }
    &:before {
      border-color: $yellow;
    }
  }
}

.slideBtn {
  position: relative;
  width: 12rem;
  height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffb124;
  border: 1px solid white;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
.slideBtn span {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  display: inline-block;
  transition: 0.5s;
}

@media (hover: hover) {
  .slideBtn span:nth-child(odd) {
    transform: translateY(-3rem);
  }
  .slideBtn:hover span:nth-child(odd) {
    transform: translateY(0);
  }
  .slideBtn span:nth-child(even) {
    transform: translateY(3rem);
  }
  .slideBtn:hover span:nth-child(even) {
    transform: translateY(0);
  }

  .slideBtn span:nth-child(odd):before {
    content: attr(letter);
    position: absolute;
    transform: translateY(3rem);
  }

  .slideBtn span:nth-child(even):before {
    content: attr(letter);
    position: absolute;
    transform: translateY(-3rem);
  }

  .slideBtn:hover {
    border-color: #ffb124;
    color: white;
  }
}
