@import "../abstracts/colors.scss";
.mainContainer {
  // display: flex;
  // flex-wrap: wrap;
  position: fixed;
  left: 2vw;
  bottom: 20px;
  height: 170px;
  width: 900px;
  background-color: rgba(24, 24, 24, 0.9);

  border-radius: 5px;
  border: 1px solid $darkYellow;
  z-index: 10000;
}

.grandma {
  position: absolute;
  bottom: -9px;
  left: 0px;
  height: 200px;
  width: 170px;
}
.cookie {
  position: absolute;
  bottom: -6px;
  left: -4px;
  height: 200px;
  width: 170px;

  animation-duration: 2s;
  animation-name: levitate;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.shadow {
  position: absolute;
  bottom: -6px;
  left: -4px;
  height: 200px;
  width: 170px;
  opacity: 0.5;

  animation-duration: 2s;
  animation-name: shadow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

// .hidden {
//   background-color: orangered;
// }

@keyframes levitate {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

@keyframes shadow {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0px);
  }
}

.text {
  position: absolute;
  bottom: 0;
  left: 200px;
  height: 100%;
  max-width: 600px;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.cookieText {
  position: relative;
  display: flex;
}

.cookieText:hover > .firstCookie {
  transform: rotate(300deg);
}

.cookieText:hover > .secondCookie {
  transform: rotate(350deg);
}

.cookieImText {
  position: relative;
  top: 0.45rem;
  height: 1.1rem;
  width: 1.1rem;
  // margin-right: 0.2rem;
  // margin-left: 0.2rem;
}

.firstCookie {
  margin-right: 0.1rem;
  margin-left: 0.27rem;
  transition: 1s ease-in-out;
}
.secondCookie {
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  transition: 1.5s ease-in-out;
}

.headline {
  margin: 0px;
  padding: 0px;
}

.btn {
  color: white;
  padding: 0.3rem 1rem;
  background: none;
  border: 1px solid $darkYellow;
  border-radius: 3px;
  position: relative;
  letter-spacing: 0.06rem;
  margin-right: 1rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: $darkYellow;
  color: white;
}

@media (max-width: 950px) {
  .mainContainer {
    left: 2vw;
    bottom: 15px;
    height: 200px;
    width: 750px;
  }

  .text {
    width: 500px;
  }
  .btn {
    padding: 0.2rem 0.5rem;
    margin-right: 0.5rem;
  }
}

@media (max-width: 780px) {
  .mainContainer {
    left: 2vw;
    bottom: 15px;
    height: 140px;
    width: 500px;
  }

  .headline {
    font-size: 1rem;
    margin-top: 0.2rem;
  }

  .grandma {
    height: 150px;
    width: 130px;
  }
  .cookie {
    height: 150px;
    width: 130px;
  }
  .shadow {
    height: 150px;
    width: 130px;
  }
  .text {
    width: 340px;
    left: 140px;
    font-size: 0.65rem;
  }

  .cookieImText {
    top: 0.4rem;
    height: 0.8rem;
    width: 0.8rem;
  }
  .btn {
    padding: 0.2rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
  }
}

@media (max-width: 520px) {
  .mainContainer {
    left: 1vw;
    bottom: 5px;
    //     height: 140px;
    width: 98vw;
  }

  // .headline {
  //   margin-top: 0.2rem;
  // }

  .cookieText {
    margin-left: -90px;
    margin-top: 10px;
  }

  .paragraph {
    margin-top: -15px;
  }

  .grandma {
    height: 110px;
    width: 95px;
  }
  .cookie {
    height: 110px;
    width: 95px;
  }
  .shadow {
    height: 110px;
    width: 95px;
  }
  .text {
    justify-content: start;
    width: 300px;
    left: 100px;
    font-size: 0.65rem;
  }

  .cookieImText {
    top: 0.5rem;
    height: 0.65rem;
    width: 0.65rem;
    // margin-right: 0.2rem;
    // margin-left: 0.2rem;
  }

  .btn {
    padding: 0.2rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.2rem;
    font-size: 0.6rem;
  }
}

@media (max-width: 430px) {
  .mainContainer {
    height: 170px;
  }

  .text {
    justify-content: start;
    // min-width: 230px;
    max-width: 68%;
    left: 100px;
    font-size: 0.65rem;
  }

  .grandma {
    height: 130px;
    width: 115px;
  }
  .cookie {
    height: 130px;
    width: 115px;
  }
  .shadow {
    height: 130px;
    width: 115px;
  }

  .allBtns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .btn {
    padding: 0.2rem 0.4rem;
    margin-bottom: 0.35rem;
    font-size: 0.5rem;
  }
}

@media (max-width: 355px) {
  .mainContainer {
    height: 185px;
  }

  .text {
    max-width: 65%;
  }
}

@media (max-width: 300px) {
  .mainContainer {
    height: 230px;
  }

  .text {
    max-width: 60%;
  }
}
@media (max-width: 270px) {
  .mainContainer {
    height: 260px;
  }

  .text {
    max-width: 55%;
  }
}
