.footerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: 600px;
  max-height: 1500px;
  height: 100vw;
  background-image: url("/img/footer/galaxy.jpg");
  background-size: cover;
  background-position: center;
}

.textContent {
  background-color: white;
  width: 500px;
  height: 300px;
}

.linksContainer {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: gray;
}
.link {
  //   width: 5rem;
  margin: 1rem 1rem;
  cursor: pointer;
}
