@import "/styles/abstracts/colors";
@import "/styles/abstracts/fonts";

.transparent {
  opacity: 0.15;
}
.visible {
  opacity: 1;
}

.mainContainer {
  width: 100vw;
  background-color: $darkViolette;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.textAndGameContainer {
  position: relative;
  max-width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

// ? Headline and Stats
.textContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  color: white;
}

.statsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.resetBtn {
  width: 10rem;
}

.memoryHeadline {
  color: $yellow;
  font-family: $head-font;
  letter-spacing: 0.2rem;
  font-size: 4rem;
}

.stats {
  font-family: $hand-written;
  display: flex;
  justify-content: center;
  width: 30%;
  margin: 0;
  font-size: 1.8rem;
}

.prevStats {
  width: 30%;
  margin-top: 1rem;
  opacity: 0.4;
}

.prevHeadline {
  margin-top: 1rem;
  opacity: 0.4;
  width: 10rem;
}
// ? Memory Game
.memoryContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.memoryHeadline {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

// ? winning Screen
.winningScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  // background-color: rgba(0, 0, 0, 0.9);
  transition: all 500ms;
  z-index: 100;
}
.winningContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 200px;
}
.winningHeadline {
  margin: 0;
  font-family: $head-font;
  font-size: 6rem;
  width: 100%;
  text-align: center;
  color: $yellow;
}

.winningSub {
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  color: white;
}

.winningText {
  color: blue;
}

.visibleWinningScreen {
  opacity: 100;
  z-index: 10;
}
.invisibleWinningScreen {
  opacity: 0;
  z-index: 10;
  pointer-events: none;
}
.sendToBack {
  z-index: -10;
}

.allCards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.oneCard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 230px;
  width: 170px;
  margin: 20px;
  color: white;
  transform-style: preserve-3d;
  perspective: 250px;
  transition: all 500ms;
}
@media (max-width: 840px) {
  .textAndGameContainer {
    max-width: 700px;
  }
  .oneCard {
    height: 172px;
    width: 127.5px;
    margin: 10px;
  }
}
@media (max-width: 590px) {
  .memoryHeadline {
    letter-spacing: 0.15rem;
    font-size: 3rem;
  }
  .prevHeadline {
    width: 9rem;
  }
  .resetBtn {
    height: 3rem;
    width: 9rem;
  }
  .stats {
    font-size: 1.5rem;
  }
  .textAndGameContainer {
    max-width: 450px;
  }
  .oneCard {
    height: 123.84px;
    width: 91.8px;
    margin: 10px;
  }
  @media (max-width: 450px) {
    .memoryHeadline {
      letter-spacing: 0.15rem;
      font-size: 2.5rem;
    }
    .stats {
      font-size: 1.2rem;
    }
    .prevHeadline {
      width: 8rem;
    }
    .resetBtn {
      font-size: 1.2rem !important;
      width: 8rem;
    }
    .textAndGameContainer {
      max-width: 450px;
    }
    .oneCard {
      height: 123.84px;
      width: 91.8px;
      margin: 4px;
    }
  }
}

.closed {
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}

.open {
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.card {
  position: absolute;
  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  visibility: visible;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.cardBackside {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  border: 1px solid $yellow;
  border-radius: 5%;
}

.cardBackside:hover .backsideCircle {
  transform: rotate(-0.1turn);
}
.cardBackside:hover .backsideHexagon {
  transform: rotate(0.1turn);
}
.cardBackside:hover {
  background-color: $darkViolette;
  border: 1px solid white;
}

.backsideCircle {
  position: absolute;
  top: 20%;
  left: 20%;
  height: 60%;
  width: 60%;
  transition: transform 500ms ease-in-out;
}

.backgroundShapes {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

.backsideHexagon {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  transition: transform 500ms ease-in-out;
}

.cardFrontside {
  border: 1px solid $yellow;
  border-radius: 5%;
  transform: rotateY(180deg);
  cursor: pointer;
}

.oneCard:hover .frontsideImg {
  transform: scale(1.2);
}

.frontsideBackground {
  position: absolute;
  top: 3%;
  left: 3%;
  height: 94%;
  width: 94%;
}

.frontsideImg {
  position: absolute;
  top: 16%;
  left: 16%;
  height: 66%;
  width: 66%;
  transition: transform 500ms ease-in-out;
}
