@import "/styles/abstracts/colors";
@import "/styles/abstracts/fonts";

.transparent {
  opacity: 0.15;
}
.visible {
  opacity: 1;
}

.canvasContainer {
  position: relative;
  top: 300px;
}

// ? Adjust .mainContainer height to .memorySection in Index.module.scss !!! otherwise it will display wrong!
// the placeholder for this section has to have the same height as the section itself, so that scrolling works properly
.mainContainer {
  scroll-margin-top: 100px;
  position: relative;
  width: 100vw;
  padding-bottom: 3rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 1200px;
}

.textAndGameContainer {
  position: relative;
  max-width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

// ? Headline and Stats
.textContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  color: white;
}

.statsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.resetBtn {
  width: 10rem;
}

.gleichNochmalBtn {
  margin-top: 1.3rem;
}

.memoryHeadline {
  color: $yellow;
  font-family: $head-font;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 4rem;
}

.stats {
  // font-family: $hand-written;
  display: flex;
  justify-content: center;
  width: 30%;
  margin: 0;
}

.statsFont {
  font-size: 1.1rem;
}

.prevStats {
  width: 30%;
  margin-top: 1rem;
  opacity: 0.4;
}

.prevHeadline {
  margin-top: 1rem;
  opacity: 0.4;
  width: 10rem;
}
// ? Memory Game
.memoryContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.memoryHeadline {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

// ? winning Screen
.winningScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30vh;
  width: 100%;
  height: 400px;
  transition: all 500ms;
  z-index: 100;
}
.winningContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 200px;
}
.winningHeadline {
  margin: 0;
  font-family: $head-font;
  font-size: 6rem;
  width: 100%;
  text-align: center;
  color: $yellow;
}
.winningSubContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.winningSub {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  max-width: 70vw;
}

.winningText {
  color: blue;
}

.visibleWinningScreen {
  opacity: 100;
  z-index: 10;
}
.invisibleWinningScreen {
  opacity: 0;
  z-index: 10;
  pointer-events: none;
}
.sendToBack {
  z-index: -10;
}

.allCards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.oneCard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 255px;
  width: 170px;
  margin: 20px;
  color: white;
  transform-style: preserve-3d;
  perspective: 250px;
  transition: all 500ms;
  cursor: pointer;
}

.closed {
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
}

.open {
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.card {
  position: absolute;
  perspective: 0;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  visibility: visible;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.cardBackside {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  border: 1px solid $yellow;
  border-radius: 5%;
}

.backsideCircle {
  position: absolute;
  top: 20%;
  left: 20%;
  height: 60%;
  width: 60%;
  transition: transform 500ms ease-in-out;
}

.backgroundShapes {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

.backsideHexagon {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  transition: transform 500ms ease-in-out;
}

.cardFrontside {
  border: 1px solid $yellow;
  border-radius: 5%;
  transform: rotateY(180deg);
  cursor: pointer;
}

.frontsideBackground {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 3%;
  left: 3%;
  height: 94%;
  width: 94%;
}

.frontsideImg {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: transform 500ms ease-in-out;
}

// ? HOVER AND FOCUS
@media screen and (hover: hover) {
  .cardBackside:hover .backsideCircle {
    transform: rotate(-0.1turn);
  }
  .cardBackside:hover .backsideHexagon {
    transform: rotate(0.1turn);
  }
  .cardBackside:hover {
    background-color: black;
    border: 1px solid white;
  }
  .oneCard:hover .frontsideImg {
    transform: scale(1.1);
  }
}
// ? ANIMATIONS

@keyframes rotateRight {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes rotateLeft {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-1turn);
  }
}

//  ? TOUCHSCREEN
@media screen and (hover: none) {
  .backsideHexagon {
    animation: rotateRight 60s linear infinite;
  }
  .backsideCircle {
    animation: rotateLeft 35s linear infinite;
  }
}

// ? MEDIA QUERIES

@media (max-width: 840px) {
  // ? Adjust .mainContainer height to .memorySection in Index.module.scss !!! otherwise it will display wrong!
  // the placeholder for this section has to have the same height as the section itself, so that scrolling works properly
  .mainContainer {
    height: 880px;
  }
  .textAndGameContainer {
    max-width: 700px;
  }
  .oneCard {
    height: 172px;
    width: 127.5px;
    margin: 10px;
  }
  .winningHeadline {
    font-size: 5rem;
  }
  .winningSub {
    font-size: 1.5rem;
  }
}
@media (max-width: 590px) {
  // ? Adjust .mainContainer height to .memorySection in Index.module.scss !!! otherwise it will display wrong!
  // the placeholder for this section has to have the same height as the section itself, so that scrolling works properly
  .mainContainer {
    height: 700px;
  }
  .memoryHeadline {
    letter-spacing: 0.15rem;
    font-size: 3rem;
    text-align: center;
  }
  .prevHeadline {
    width: 9rem;
  }
  .resetBtn {
    height: 2.5rem;
    width: 8rem;
  }

  .statsFont {
    font-size: 0.85rem;
  }
  .textAndGameContainer {
    max-width: 450px;
  }
  .oneCard {
    height: 123.84px;
    width: 91.8px;
    margin: 10px;
  }
  .winningHeadline {
    font-size: 4.5rem;
  }
  .winningSub {
    font-size: 1.3rem;
  }
}
@media (max-width: 450px) {
  // ? Adjust .mainContainer height to .memorySection in Index.module.scss !!! otherwise it will display wrong!
  // the placeholder for this section has to have the same height as the section itself, so that scrolling works properly
  .mainContainer {
    height: 615px;
  }
  .memoryHeadline {
    letter-spacing: 0.15rem;
    font-size: 2.5rem;
  }
  .statsFont {
    font-size: 0.7rem;
  }
  .prevHeadline {
    width: 8rem;
  }
  .resetBtn {
    width: 7rem;
  }
  .textAndGameContainer {
    max-width: 450px;
  }
  .oneCard {
    height: 123.84px;
    width: 91.8px;
    margin: 4px;
  }
  .winningHeadline {
    font-size: 3.5rem;
  }
  .winningSub {
    font-size: 1.1rem;
  }
}

@media (max-width: 400px) {
  // ? Adjust .mainContainer height to .memorySection in Index.module.scss !!! otherwise it will display wrong!
  // the placeholder for this section has to have the same height as the section itself, so that scrolling works properly
  .mainContainer {
    height: 740px;
  }
  .memoryHeadline {
    margin-top: 1rem;
  }
}

@media (max-width: 325px) {
  // ? Adjust .mainContainer height to .memorySection in Index.module.scss !!! otherwise it will display wrong!
  // the placeholder for this section has to have the same height as the section itself, so that scrolling works properly
  .mainContainer {
    height: 590px;
  }
  .memoryHeadline {
    font-size: 1.8rem;
  }
  .stats {
    font-size: 0.6rem;
    width: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .resetBtn {
    height: 2rem;
    padding: 0rem !important;
    width: 6rem;
  }

  .textAndGameContainer {
    max-width: 700px;
  }
  .oneCard {
    height: 100px;
    width: 71px;
    margin: 3px 6px;
  }
}
