@import "/styles/abstracts/colors";

// ? Containers

.memoryMainContainer {
  background-color: black;
  display: flex;
  justify-content: center;
}

.memoryContainer {
  position: relative;
  top: 1000px;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

// ? winning Screen
.winningScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 140, 0, 0.517);
  transition: all 1000ms;
}

.visibleWinningScreen {
  opacity: 100;
  z-index: 10;
}
.invisibleWinningScreen {
  opacity: 0;
  z-index: 10;
  pointer-events: none;
}
.sendToBack {
  z-index: -10;
}

.allCards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.oneCard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 230px;
  width: 170px;
  margin: 20px;
  background-color: black;
  color: white;
  transform-style: preserve-3d;
  perspective: 250px;
  transition: all 500ms;

  // &:hover {
  //   transform: rotateY(180deg);
  // }
}

.closed {
  transform: rotateY(0deg);
}

.open {
  transform: rotateY(180deg);
}

.card {
  position: absolute;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.cardBackside {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  border: 1px solid $yellow;
  border-radius: 5%;
}

.cardBackside:hover .backsideCircle {
  transform: rotate(-0.1turn);
}
.cardBackside:hover .backsideHexagon {
  transform: rotate(0.1turn);
}
.cardBackside:hover {
  background-color: rgb(19, 0, 11);
  border: 1px solid white;
}

.backsideCircle {
  position: absolute;
  top: 20%;
  left: 20%;
  height: 60%;
  width: 60%;
  transition: transform 500ms ease-in-out;
}

.backgroundShapes {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

.backsideHexagon {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  transition: transform 500ms ease-in-out;
}

.cardFrontside {
  border: 1px solid white;
  border-radius: 5%;
  transform: rotateY(180deg);
}

.cardFrontside:hover .frontsideImg {
  transform: scale(1.15);
}

.frontsideBackground {
  position: absolute;
  top: 3%;
  left: 3%;
  height: 94%;
  width: 94%;
}

.frontsideImg {
  position: absolute;
  top: 16%;
  left: 16%;
  height: 66%;
  width: 66%;
  transition: transform 500ms ease-in-out;
}
