@font-face {
  font-family: "Zaio";
  src: url("/fonts/Zaio.woff") format("woff");
}

/* caleidoskop Canvas responsive Media queries inside kaleidoskop.js */

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow: hidden;
}
/* to smooth into the animation at the initial start */
.blackOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  pointer-events: none;
  z-index: 1;
}

.canvasContainer {
  height: 800px;
  width: 100%;
  clip-path: circle(350px at center);
}

.circleBorder {
  position: absolute;
  margin: auto;
  top: 270px;
  height: 720px;
  width: 720px;
  border-radius: 50%;
  border: 1px solid #ffb124;
  pointer-events: none;
  z-index: 4;
}

.invisible {
  position: absolute;

  overflow: hidden;
  background-color: transparent;
  margin: 0;
  padding: 0;
  transition: all 3s ease-in-out;
  pointer-events: none;
}

.mainContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.textContainer {
  position: relative;
  display: flex;
  height: 230px;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  font-size: 3.5rem;
  letter-spacing: 0.17rem;
  font-family: "Zaio";
  color: #ffb124;
  text-align: center;
  width: 100%;
  margin: 0.3rem 0 0.3rem 0;
  cursor: default;
  z-index: 2;
}

h2 {
  font-size: 1.3rem;
  letter-spacing: 0.08rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: white;
  text-align: center;
  width: 100%;
  cursor: default;
  z-index: 2;
}

#kaleidoskopBtn {
  position: relative;
  width: 7rem;
  height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffb124;
  border: 1px solid white;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
#kaleidoskopBtn span {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  display: inline-block;
  transition: 0.5s;
}
@media (hover: hover) {
  #kaleidoskopBtn span:nth-child(odd) {
    transform: translateY(-3rem);
  }
  #kaleidoskopBtn:hover span:nth-child(odd) {
    transform: translateY(0);
  }
  #kaleidoskopBtn span:nth-child(even) {
    transform: translateY(3rem);
  }
  #kaleidoskopBtn:hover span:nth-child(even) {
    transform: translateY(0);
  }

  #kaleidoskopBtn span:nth-child(odd):before {
    content: attr(letter);
    position: absolute;
    transform: translateY(3rem);
  }

  #kaleidoskopBtn span:nth-child(even):before {
    content: attr(letter);
    position: absolute;
    transform: translateY(-3rem);
  }

  #kaleidoskopBtn:hover {
    border-color: #ffb124;
    color: white;
  }
}

/* ! media queries */

/* ! #kaleidoscopCanvas values are defined inside kaleidoskop.js in the setRadiusSizeAndMargin function */
@media (max-width: 849px) {
  .canvasContainer {
    height: 600px;
  }
  .circleBorder {
    height: 520px;
    width: 520px;
    top: 240px;
  }
  h2 {
    margin: 0;
  }
  .textContainer {
    height: 200px;
  }
  /* ? #kaleidoscopCanvas values are defined inside kaleidoskop.js in the setRadiusSizeAndMargin function */
}

/* ! #kaleidoscopCanvas values are defined inside kaleidoskop.js in the setRadiusSizeAndMargin function */
@media (max-width: 589px) {
  .canvasContainer {
    height: 390px;
  }
  .circleBorder {
    height: 380px;
    width: 380px;
    top: 204px;
  }
  h1 {
    letter-spacing: 0.15rem;
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1rem;
    letter-spacing: 0.08rem;
  }
  #kaleidoskopBtn {
    width: 6rem;
    height: 1.8rem;
    border: 1px solid white;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
/* ! #kaleidoscopCanvas values are defined inside kaleidoskop.js in the setRadiusSizeAndMargin function */

@media (max-width: 450px) {
  h1 {
    letter-spacing: 0.13rem;
    font-size: 2rem;
  }
  h2 {
    font-size: 0.8rem;
    letter-spacing: 0.06rem;
  }
}

@media (max-width: 399px) {
  .canvasContainer {
    height: 300px;
  }
  .circleBorder {
    height: 280px;
    width: 280px;
    top: 210px;
  }
}
@media (max-width: 350px) {
  h1 {
    letter-spacing: 0.11rem;
    font-size: 1.5rem;
  }
  h2 {
    font-size: 0.6rem;
    letter-spacing: 0.05rem;
  }
}
