@import "/styles/abstracts/colors";

.sentDisappear {
  opacity: 0;
  pointer-events: none;
}
.sentAppear {
  pointer-events: auto;
  opacity: 1;
}

.mainContainer {
  scroll-margin-top: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
  z-index: 10;
}

.formAndSucessScreenContainer {
  position: relative;
}

.headlinesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.contactInfos {
  display: flex;
  min-width: 20rem;
}

.iconAndText {
  opacity: 0.6;
  display: flex;
  align-items: baseline;
  margin: 0rem 2rem;
}
.iconAndText:hover {
  opacity: 1;
}
.image {
  position: relative;
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.8rem;
}
.tel {
  width: 0.77rem;
  height: 0.77rem;
}
.mail {
  top: 0.1rem;
  height: 0.9rem;
  width: 0.9rem;
}

.contact {
  font-size: 1rem;
  position: relative;
  left: -0.1rem;
  margin: 0;
  font-weight: 400;
}
// ? Contact Forms
.contactFormContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
  // ? defines the width of all containing elements
  width: 400px;
  transition: width 1s;
}

.inputBox {
  position: relative;
  width: 100%;
  font-size: 1.2rem;
  letter-spacing: 00.05rem;
}
.inputBox .input {
  background: transparent;
  width: 100%;
  color: white;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 1.3rem;
  letter-spacing: 00.05rem;
}

.inputError {
  position: absolute;
  // top: -5px;
  width: 200px;
  color: $yellow;
  font-size: 1em;
}

.messageSentContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  top: -15%;
  height: 130%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.733);
  z-index: 5;
}

.sentTextContainer {
  display: flex;
  flex-wrap: wrap;
  width: 120%;
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(122, 122, 122);
  border-radius: 5px;
  transition: all 1s;
  // z-index: 11;
}

.sentHeadline {
  font-size: 3rem;
  margin: 0;
  transition: all 1s;
}

.sentMessage {
  color: $yellow;
  transition: all 1s;
}

.submitError {
  position: absolute;
  top: 60px;
  color: $yellow;
}

.inputBox .inputTitle {
  position: absolute;
  left: 5px;
  padding: 1px 0;
  // text-transform: uppercase;
  pointer-events: none;
  color: $darkGray;
  transition: all 0.5s;
}

// .input:optional ~ .inputTitle {
//   color: $darkGray;
// }

.contactFormContainer .inputBox .activeInputTitle {
  transform: translateY(-22px);
  font-size: 0.75rem;
  color: $blue;
}

// .input:valid ~ .inputTitle,
.input:focus ~ .inputTitle {
  color: $blue;
  transform: translateY(-22px);
  font-size: 0.75rem;
}

.inputBox .stripe {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: white;
  overflow: hidden;
  z-index: 4;
}

.inputBox .stripe:before {
  content: "";
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, $blue, $yellow, $blue);
  animation: animate 5s linear infinite;
  transition: all 0.5s;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 400px;
  }
}

.input:focus ~ .stripe:before {
  left: 0;
}

.inputBox .activeStripe:before {
  left: 0;
}

// ? MESSAGE INPUT BOX

.messageInputBox {
  position: relative;
  width: 100%;
  height: 220px;
  letter-spacing: 00.05rem;
  font-size: 1rem;
  margin-top: 20px;
}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #000000 inset !important;
  -webkit-text-fill-color: white !important;
}

.inputBox:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #000000 inset !important;
  -webkit-text-fill-color: white !important;
}

.messageInputBox .messageInput {
  // background: transparent;
  background-color: black;
  margin: 2px;
  width: calc(100% - 4px);
  height: 215px;
  margin-bottom: 50px;
  color: white;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 1rem;
  letter-spacing: 00.05rem;
  resize: none;
  z-index: -2;
}

.messageInput:autofill {
  // background: transparent;
  background-color: pink;
  border: none;
  outline: none;
  box-shadow: none;
  resize: none;
}

.messageInputBox .messageInputBackground {
  position: absolute;
  left: 2px;
  top: 2px;
  width: calc(100% - 4px);
  height: 216px;
  background-color: black;
  pointer-events: none;
  z-index: -2;
}

.messageInputBox .stripe {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 220px;
  background-color: rgba(255, 255, 255, 0.655);
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.messageInputBox .stripe:before {
  content: "";
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, $blue, $yellow, $blue);
  animation: animate 4s linear infinite;
  transition: all 0.5s;
}

.messageInputBox .messageInputTitle {
  font-size: 1.2rem;
  position: absolute;
  top: 6px;
  left: 12px;
  padding: 3px 0;
  pointer-events: none;
  color: $darkGray;
  transition: all 0.5s;
  z-index: 3;
}

// .messageInput:enabled ~ .messageInputTitle,
.messageInput:focus ~ .messageInputTitle {
  color: $blue;
  transform: translateY(-34px);
  font-size: 0.75rem;
  left: 0;
}
.messageInputBox .activeMessageInputTitle {
  color: $blue;
  transform: translateY(-34px);
  font-size: 0.75rem;
  left: 0;
}

.messageInput:focus ~ .stripe:before {
  left: 0;
}

.messageInputBox .activeStripe:before {
  left: 0;
}

.btnContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

$btnWidth: 220px;
$btnHeight: 40px;

.contactBtn {
  position: relative;
  width: $btnWidth;
  height: $btnHeight;
  padding: 5px 10px;
  font-size: 1rem;
  letter-spacing: 00.05rem;
  background: transparent;
  border: none;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  transition: width 1s;
}

.contactBtn:before {
  content: "";
  position: absolute;
  left: -100%;
  width: $btnWidth;
  height: $btnHeight;
  background-color: white;
  border-radius: 5px;
  transition: width 1s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contactBtn:after {
  content: attr(alt);
  color: white;
  font-size: 1rem;
  position: absolute;
  width: calc($btnWidth - 2px);
  height: calc($btnHeight - 2px);
  border-radius: 5px;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 1s;
}
.contactBtn:hover:before {
  left: 0;
  background: linear-gradient(90deg, $blue, $yellow, $blue);
  animation: hoverBtn 2s linear infinite;
}
.contactBtn:active:after {
  color: $yellow;
  font-size: 0.9rem;
}

@keyframes hoverBtn {
  to {
    background-position: $btnWidth;
  }
}

// * Media Queries

@media (max-width: 630px) {
  .sentTextContainer {
    width: 90%;
    // padding: 2rem 0rem;
  }
}

@media (max-width: 500px) {
  .contactFormContainer {
    width: 300px;
  }

  .sentHeadline {
    font-size: 2rem;
  }
  .sentMessage {
    font-size: 0.9rem;
  }

  .contactBtn {
    width: calc($btnWidth - 50px);
    height: $btnHeight;
    font-size: 1rem;
    letter-spacing: 00.05rem;
  }
  .contactBtn:before {
    content: "";
    position: absolute;
    left: -100%;
    width: calc($btnWidth - 50px);
    height: $btnHeight;
  }
  // !!!
  .contactBtn:after {
    font-size: 1rem;
    width: calc($btnWidth - 50px - 2px);
  }
  .contactBtn:active:after {
    font-size: 0.9rem;
  }
  .contactInfos {
    flex-wrap: wrap;
  }
  .iconAndText {
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
  }
}

@media (max-width: 350px) {
  .sentHeadline {
    font-size: 1.2rem;
  }
  .sentMessage {
    font-size: 0.7rem;
  }

  .newMessageBtn {
    width: 140px;
    height: 32px;
  }

  .newMessageBtn:before {
    height: 30px;
    width: 138px;
  }
  .newMessageBtn:after {
    width: 138px;
    height: 30px;
    font-size: 0.7rem;
  }

  .inputBox .input {
    font-size: 1rem;
  }
  .messageInputBox .messageInput {
    font-size: 0.9rem;
  }
  .contactFormContainer {
    width: 250px;
  }
  .inputError {
    font-size: 0.9em;
  }
}
@media (max-width: 300px) {
  .contactFormContainer {
    width: 200px;
  }
  .inputError {
    width: 150px;
    font-size: 0.7em;
  }
}
