@import "/styles/abstracts/colors";
@import "/styles/abstracts/fonts";

$size: 100px;
$tokenRadius: $size/2.7;
$tokenSize: $tokenRadius * 2;

.mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.headline {
  font-family: $head-font;
  font-size: 3rem;
  letter-spacing: 0.17rem;
  color: $yellow;
  margin-top: 6rem;
  margin-bottom: 0rem;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.subHeadline {
  font-weight: 400;
  width: 100%;
  text-align: center;
}

.token {
  position: absolute;
  height: $tokenSize;
  width: $tokenSize;
  border-radius: $tokenRadius;
  margin: ($size - $tokenSize)/2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  pointer-events: none;
}

.tokenBlue {
  background-color: $blue;
}

.tokenRed {
  background-color: $yellow;
}

.tokenImage {
  position: relative;
  height: 90%;
  width: 90%;
}

.oneFieldContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $size;
  width: $size;
}

.oneField {
  position: relative;
  background-color: #710000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.oneFieldImage {
  position: absolute;
  height: 85%;
  width: 85%;
  z-index: 10;
  pointer-events: none;
}

.fieldsContainer {
  display: flex;
  flex-wrap: wrap;
  width: $size * 7;
  height: $size * 7;
  margin-top: 30px;
}

.placeText {
  position: absolute;
  z-index: 100;
}

.startingField {
  background-color: rgb(89, 89, 89);
  display: flex;
  justify-content: center;
  align-items: center;
  height: $size;
  width: $size;
  margin: 0px;
  padding: 0px;
}

// .occupiedByBlue ~ .oneField::after {
//   background-color: blue;
// }
// .occupiedByRed ~ .oneField::after {
//   background-color: red;
// }

// ! make the color only appear in her own class

.empty::after {
  position: absolute;
  content: "";
  background-color: black;
  clip-path: circle($tokenRadius at center);
  height: $size;
  width: $size;
  margin: 0px;
  padding: 0px;
  border: 1px solid white;
}

.occupiedByBlue::after {
  position: absolute;
  content: "";
  background-color: $blue;
  background-image: url("/img/four_wins/inner_circle_transparent.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: circle($tokenRadius at center);
  height: $size;
  width: $size;
  margin: 0px;
  padding: 0px;
  border: 1px solid white;
}

.occupiedByRed::after {
  position: absolute;
  content: "";
  background-color: $yellow;
  background-image: url("/img/four_wins/inner_circle_transparent.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: circle($tokenRadius at center);
  height: $size;
  width: $size;
  margin: 0px;
  padding: 0px;
  border: 1px solid white;
}

.winningScreen {
  position: absolute;
  top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 200px;
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.68);
  z-index: 15;
}

.hideWinningScreen {
  opacity: 0;
  height: 0px;
  width: 0px;
  pointer-events: none;
}

.visibleWinningScreen {
  opacity: 1;
}
