.container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contactContainer {
  scroll-margin-top: 100px;
}

.memorySection {
  min-height: 500px;
  width: 100vw;
}
.kaleidoskopSection {
  min-height: 500px;
  width: 100vw;
}
