@import "/styles/abstracts/colors";

// ! Umbrella:
.textAndUmbrella {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 10vh;

  width: 30rem;
}

.backgroundImage {
  position: absolute;
  top: 3rem;
  height: 25rem;
  width: 100%;
}

.headlines {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 11rem;
  height: 12rem;
  width: 100%;
  background-color: black;
}

.heroJumbo {
  position: absolute;
  top: 0px;
  margin: 0.1rem;
  font-family: "Zaio";
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  -webkit-transition: font-size 0.2s ease-in;
  transition: font-size 0.3s ease-in;
  cursor: default;
}

.georgiy {
  position: absolute;
  top: 5rem;
  height: 5.2rem;
  width: 9rem;
  transition: all 400ms ease-in-out;
}

.georgiyVisible {
  opacity: 1;
}
.georgiyInVisible {
  opacity: 0;
}

.georgiy:hover {
  transform: scale(1.2);
}

// ! Responsiveness

.heroJumbo {
  letter-spacing: 0.2rem;
  font-size: 4rem;
}
.textAndUmbrella {
  transition: all 400ms ease-in-out;
}

.backgroundImage {
  top: 1rem;
  height: 33rem;
  width: 100%;
}

.headlines {
  top: 11.8rem;
  height: 12rem;
  width: 100%;
}
.georgiy {
  top: 5.3rem;
  height: 5.5rem;
  width: 11rem;
}

@media all and (max-width: 1200px) {
  .heroJumbo {
    font-size: 2.9rem;
  }
  .textAndUmbrella {
    width: 25rem;
  }

  .backgroundImage {
    top: 2rem;
    height: 25rem;
    width: 100%;
  }

  .headlines {
    top: 10.5rem;
    height: 9.5rem;
    width: 100%;
  }
  .georgiy {
    top: 4rem;
    height: 4.5rem;
    width: 9rem;
  }
  .jumboTypingEffect:after {
    height: 3rem !important;
  }
}

@media all and (max-width: 750px) {
  .heroJumbo {
    font-size: 2.5rem;
  }

  .backgroundImage {
    top: 2.2rem;
    height: 22rem;
    width: 100%;
  }

  .headlines {
    top: 9.5rem;
    height: 9rem;
    width: 100%;
  }
  .georgiy {
    top: 3.5rem;
    height: 4rem;
    width: 8rem;
  }
}

@media all and (max-width: 500px) {
  .heroJumbo {
    font-size: 2rem;
  }
  .textAndUmbrella {
    width: 17rem;
  }

  .backgroundImage {
    top: 0rem;
    height: 24rem;
    width: 100%;
  }

  .headlines {
    top: 9.3rem;
    height: 7rem;
    width: 100%;
  }
  .georgiy {
    top: 2.8rem;
    height: 3.5rem;
    width: 7.5rem;
  }
  .jumboTypingEffect:after {
    height: 2rem !important;
  }
}

@media all and (max-width: 350px) {
  .heroJumbo {
    font-size: 1.7rem;
  }
  .textAndUmbrella {
    width: 14rem;
  }

  .backgroundImage {
    top: 0rem;
    height: 20rem;
    width: 100%;
  }

  .headlines {
    top: 8.1rem;
    height: 6rem;
    width: 100%;
  }
  .georgiy {
    top: 2.4rem;
    height: 3.5rem;
    width: 5rem;
  }
  .jumboTypingEffect:after {
    height: 2rem !important;
  }
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.jumboTypingEffect::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 4px;
  height: 4rem;
  border-right: 3px solid white;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.glitch:hover {
  position: relative;
  text-shadow: 0.005em 0 0 #ffb124, -0.005em -0.01em 0 rgb(152, 0, 172),
    0.01em -0.01em 0 #00ced3;
  -webkit-animation: glitch 2000ms infinite;
  animation: glitch 2000ms infinite;
}

.glitch span:nth-child(1),
.glitch span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
}

.glitch:hover span:first-child {
  left: 0px;
  z-index: 2;
  opacity: 0.6;
  -webkit-clip-path: polygon(0 0, 0 80%, 100% 0);
  clip-path: polygon(0 0, 0 80%, 100% 0);
  -webkit-transform: translate(-0.015em, -0.015em);
  transform: translate(-0.015em, -0.015em);
  -webkit-animation: glitch 1500ms infinite;
  animation: glitch 1500ms infinite;
  -webkit-animation: glitch-position 1000ms infinite;
  animation: glitch-position 1000ms infinite;
}

.glitch:hover span:last-child {
  z-index: 1;
  opacity: 0.4;
  -webkit-clip-path: polygon(0 100%, 50% 100%, 90% 35%, 0 75%);
  clip-path: polygon(0 100%, 50% 100%, 90% 35%, 0 75%);
  -webkit-transform: translate(0.025em, -0.015em);
  transform: translate(0.025em, -0.015em);
  -webkit-animation: glitch 500ms infinite;
  animation: glitch 500ms infinite;
}

@-webkit-keyframes glitch-position {
  0% {
    -webkit-transform: translate(-0.025em, -0.015em);
    transform: translate(-0.025em, -0.015em);
  }
  9% {
    -webkit-transform: translate(-0.025em, -0.015em);
    transform: translate(-0.025em, -0.015em);
  }
  10% {
    -webkit-transform: translate(-0.03em, -0.025em);
    transform: translate(-0.03em, -0.025em);
  }
  80% {
    -webkit-transform: translate(-0.03em, -0.025em);
    transform: translate(-0.03em, -0.025em);
  }
  99% {
    -webkit-transform: translate(-0.03em, -0.025em);
    transform: translate(-0.03em, -0.025em);
  }
  100% {
    -webkit-transform: translate(-0.02em, -0.01em);
    transform: translate(-0.02em, -0.01em);
  }
}

@keyframes glitch-position {
  0% {
    -webkit-transform: translate(-0.025em, -0.015em);
    transform: translate(-0.025em, -0.015em);
  }
  9% {
    -webkit-transform: translate(-0.025em, -0.015em);
    transform: translate(-0.025em, -0.015em);
  }
  10% {
    -webkit-transform: translate(-0.03em, -0.025em);
    transform: translate(-0.03em, -0.025em);
  }
  80% {
    -webkit-transform: translate(-0.03em, -0.025em);
    transform: translate(-0.03em, -0.025em);
  }
  99% {
    -webkit-transform: translate(-0.03em, -0.025em);
    transform: translate(-0.03em, -0.025em);
  }
  100% {
    -webkit-transform: translate(-0.02em, -0.01em);
    transform: translate(-0.02em, -0.01em);
  }
}

@-webkit-keyframes glitch {
  0% {
    text-shadow: -0.02em 0 0 #0096a2, 0.01em -0.005em 0 white,
      0.03em -0.02em 0 #00ced3;
    color: $darkYellow;
  }
  4% {
    text-shadow: -0.02em 0 0 #0096a2, 0.01em -0.005em 0 white,
      0.03em -0.01em 0 #00ced3;
    color: $darkYellow;
  }
  5% {
    text-shadow: 0.005em -0.01em 0 #0096a2, -0.01em 0.01em 0 $darkYellow,
      -0.015em -0.015em 0 #00ced3;
    color: $darkYellow;
  }
  19% {
    text-shadow: 0.005em -0.01em 0 #0096a2, -0.01em 0.01em 0 $darkYellow,
      -0.015em -0.015em 0 #00ced3;
    color: white;
  }
  20% {
    text-shadow: 0.01em 0 0 #0096a2, 0.03em -0.0025em 0 white,
      -0.0025em -0.02em 0 #00ced3;
    color: $darkYellow;
  }
  99% {
    text-shadow: 0.01em 0 0 #0096a2, 0.03em -0.0025em 0 white,
      -0.0045em -0.03em 0 #00ced3;
    color: $darkYellow;
  }
  100% {
    text-shadow: -0.05em -0.05em 0 #0096a2, -0.01em 0.01em 0 white,
      -0.03em -0.01em 0 #00ced3;
    color: $darkYellow;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -0.02em 0 0 #0096a2, 0.01em -0.005em 0 white,
      0.03em -0.02em 0 #00ced3;
    color: $darkYellow;
  }
  4% {
    text-shadow: -0.02em 0 0 #0096a2, 0.01em -0.005em 0 white,
      0.03em -0.01em 0 #00ced3;
    color: $darkYellow;
  }
  5% {
    text-shadow: 0.005em -0.01em 0 #0096a2, -0.01em 0.01em 0 $darkYellow,
      -0.015em -0.015em 0 #00ced3;
    color: $darkYellow;
  }
  19% {
    text-shadow: 0.005em -0.01em 0 #0096a2, -0.01em 0.01em 0 $darkYellow,
      -0.015em -0.015em 0 #00ced3;
    color: white;
  }
  20% {
    text-shadow: 0.01em 0 0 #0096a2, 0.03em -0.0025em 0 white,
      -0.0025em -0.02em 0 #00ced3;
    color: $darkYellow;
  }
  99% {
    text-shadow: 0.01em 0 0 #0096a2, 0.03em -0.0025em 0 white,
      -0.0045em -0.03em 0 #00ced3;
    color: $darkYellow;
  }
  100% {
    text-shadow: -0.05em -0.05em 0 #0096a2, -0.01em 0.01em 0 white,
      -0.03em -0.01em 0 #00ced3;
    color: $darkYellow;
  }
}
