@import "/styles/abstracts/colors";
@import "/styles/abstracts/fonts";

$matrixImgHeight: 1300px;
$matrixImgWidth: 1200px;

$matrixImgHeight1200: 1200px;
$matrixImgWidth1200: 1130px;

$matrixImgHeight900: 1100px;
$matrixImgWidth900: 1050px;

$matrixImgHeight750: 960px;
$matrixImgWidth750: 900px;

$matrixImgHeight500: 900px;
$matrixImgWidth500: 850px;

.mainContainer {
  height: 90vh;
  // !!! IMPORTANT: adapt to: heroSection.module.scss .mainContainer { height & min-height }
  min-height: 750px;
  height: 90vh;
  // !!!
  // width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 400ms ease-in-out;
  margin: 0%;
  padding: 0%;
}

// ! parallax Georgi
.parallaxContainer {
  display: flex;
  justify-content: center;
  height: $matrixImgHeight;
  width: $matrixImgWidth;
  // overflow: visible;
  margin: 0%;
  padding: 0%;
}

.parallaxChildContainer {
  height: $matrixImgHeight;
  width: $matrixImgWidth;
  margin: 0%;
  padding: 0%;

  // transition: all 400ms ease-in-out;
}

.matrixGeorgiyImg {
  // height: $matrixImgHeight;
  // width: $matrixImgWidth;
  z-index: 3;
  margin: 0%;
  padding: 0%;
  // transition: all 400ms ease-in-out;
}

.headlines {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 530px;
  height: 12rem;
  width: 100%;
  z-index: 10;
  overflow: visible;
}

.heroJumbo {
  position: absolute;
  top: 0px;
  margin: 0.1rem;
  font-family: $head-font;
  text-transform: uppercase;
  color: white;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: font-size 0.2s ease-in;
  transition: font-size 0.3s ease-in;
  cursor: default;
  letter-spacing: 0.2rem;
  font-size: 4rem;
}

.georgiy {
  position: absolute;
  top: 5rem;
  height: 5.2rem;
  width: 9rem;
  transition: all 400ms ease-in-out;
}

.georgiyVisible {
  opacity: 1;
}
.georgiyInVisible {
  opacity: 0;
}

.georgiy:hover {
  transform: scale(1.2);
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.jumboTypingEffect::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 4px;
  height: 4rem;
  border-right: 3px solid white;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

// ! Responsive Media Queries

@media all and (max-width: 1200px) {
  .mainContainer {
    // !!! IMPORTANT: adapt to: heroSection.module.scss .mainContainer { height & min-height }
    height: 85vh;
    min-height: 550px;
  }
  .heroJumbo {
    font-size: 3.5rem;
  }

  .jumboTypingEffect::after {
    height: 3rem;
    bottom: 0.5rem;
  }

  .headlines {
    top: 480px;
    width: 100%;
  }
  .georgiy {
    top: 4.5rem;
    width: 11rem;
  }

  .parallaxContainer {
    height: $matrixImgHeight1200;
    width: $matrixImgWidth1200;
  }

  .parallaxChildContainer {
    height: $matrixImgHeight1200;
    width: $matrixImgWidth1200;
  }

  // .matrixGeorgiyImg {
  //   height: $matrixImgHeight1200;
  //   width: $matrixImgWidth1200;
  // }
}

@media all and (max-width: 900px) {
  .mainContainer {
    // !!! IMPORTANT: adapt to: heroSection.module.scss .mainContainer { height & min-height }
    height: 85vh;
    min-height: 450px;
  }
  .heroJumbo {
    font-size: 3rem;
  }

  .jumboTypingEffect::after {
    height: 2.2rem;
    bottom: 0.5rem;
  }

  .headlines {
    top: 440px;
    width: 100%;
  }
  .georgiy {
    top: 4rem;
    width: 9.5rem;
  }

  .parallaxContainer {
    height: $matrixImgHeight900;
    width: $matrixImgWidth900;
  }

  .parallaxChildContainer {
    height: $matrixImgHeight900;
    width: $matrixImgWidth900;
  }
  // .matrixGeorgiyImg {
  //   height: $matrixImgHeight900;
  //   width: $matrixImgWidth900;
  // }
}

@media all and (max-width: 750px) {
  .mainContainer {
    // !!! IMPORTANT: adapt to: heroSection.module.scss .mainContainer { height & min-height }
    height: 85vh;
    min-height: 400px;
  }
  .heroJumbo {
    font-size: 2.3rem;
  }

  .jumboTypingEffect::after {
    height: 1.8rem;
    bottom: 0.4rem;
  }

  .headlines {
    top: 380px;
    width: 100%;
  }
  .georgiy {
    top: 2.4rem;
    width: 7rem;
  }

  .parallaxContainer {
    height: $matrixImgHeight750;
    width: $matrixImgWidth750;
  }

  .parallaxChildContainer {
    height: $matrixImgHeight750;
    width: $matrixImgWidth750;
  }
  // .matrixGeorgiyImg {
  //   height: $matrixImgHeight750;
  //   width: $matrixImgWidth750;
  // }
}

@media all and (max-width: 500px) {
  .mainContainer {
    // !!! IMPORTANT: adapt to: heroSection.module.scss .mainContainer { height & min-height }
    min-height: 340px;
  }
  .heroJumbo {
    font-size: 1.9rem;
  }

  .jumboTypingEffect::after {
    height: 1.5rem;
    bottom: 0.3rem;
  }

  .headlines {
    top: 370px;
  }
  .georgiy {
    top: 2rem;
    width: 6rem;
  }

  .parallaxContainer {
    height: $matrixImgHeight500;
    width: $matrixImgWidth500;
  }

  .parallaxChildContainer {
    height: $matrixImgHeight500;
    width: $matrixImgWidth500;
  }
  // .matrixGeorgiyImg {
  //   height: $matrixImgHeight500;
  //   width: $matrixImgWidth500;
  // }
}

@media all and (max-width: 350px) {
  .mainContainer {
    // !!! IMPORTANT: adapt to: heroSection.module.scss .mainContainer { height & min-height }
    min-height: 290px;
    min-width: 350px;
  }
}

// !! Keyframes for blinking cursor

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.glitch:hover {
  position: relative;
  text-shadow: 0.005em 0 0 #ffb124, -0.005em -0.01em 0 rgb(152, 0, 172),
    0.01em -0.01em 0 #00ced3;
  -webkit-animation: glitch 2000ms infinite;
  animation: glitch 2000ms infinite;
}

.glitch span:nth-child(1),
.glitch span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
}

.glitch:hover span:first-child {
  left: 0px;
  z-index: 2;
  opacity: 0.6;
  -webkit-clip-path: polygon(0 0, 0 80%, 100% 0);
  clip-path: polygon(0 0, 0 80%, 100% 0);
  -webkit-transform: translate(-0.015em, -0.015em);
  transform: translate(-0.015em, -0.015em);
  -webkit-animation: glitch 1500ms infinite;
  animation: glitch 1500ms infinite;
  -webkit-animation: glitch-position 1000ms infinite;
  animation: glitch-position 1000ms infinite;
}

.glitch:hover span:last-child {
  z-index: 1;
  opacity: 0.4;
  -webkit-clip-path: polygon(0 100%, 50% 100%, 90% 35%, 0 75%);
  clip-path: polygon(0 100%, 50% 100%, 90% 35%, 0 75%);
  -webkit-transform: translate(0.025em, -0.015em);
  transform: translate(0.025em, -0.015em);
  -webkit-animation: glitch 500ms infinite;
  animation: glitch 500ms infinite;
}

@-webkit-keyframes glitch-position {
  0% {
    -webkit-transform: translate(-0.025em, -0.015em);
    transform: translate(-0.025em, -0.015em);
  }
  9% {
    -webkit-transform: translate(-0.025em, -0.015em);
    transform: translate(-0.025em, -0.015em);
  }
  10% {
    -webkit-transform: translate(-0.03em, -0.025em);
    transform: translate(-0.03em, -0.025em);
  }
  80% {
    -webkit-transform: translate(-0.03em, -0.025em);
    transform: translate(-0.03em, -0.025em);
  }
  99% {
    -webkit-transform: translate(-0.03em, -0.025em);
    transform: translate(-0.03em, -0.025em);
  }
  100% {
    -webkit-transform: translate(-0.02em, -0.01em);
    transform: translate(-0.02em, -0.01em);
  }
}

@keyframes glitch-position {
  0% {
    -webkit-transform: translate(-0.025em, -0.015em);
    transform: translate(-0.025em, -0.015em);
  }
  9% {
    -webkit-transform: translate(-0.025em, -0.015em);
    transform: translate(-0.025em, -0.015em);
  }
  10% {
    -webkit-transform: translate(-0.03em, -0.025em);
    transform: translate(-0.03em, -0.025em);
  }
  80% {
    -webkit-transform: translate(-0.03em, -0.025em);
    transform: translate(-0.03em, -0.025em);
  }
  99% {
    -webkit-transform: translate(-0.03em, -0.025em);
    transform: translate(-0.03em, -0.025em);
  }
  100% {
    -webkit-transform: translate(-0.02em, -0.01em);
    transform: translate(-0.02em, -0.01em);
  }
}

@-webkit-keyframes glitch {
  0% {
    text-shadow: -0.02em 0 0 #0096a2, 0.01em -0.005em 0 white,
      0.03em -0.02em 0 #00ced3;
    color: $darkYellow;
  }
  4% {
    text-shadow: -0.02em 0 0 #0096a2, 0.01em -0.005em 0 white,
      0.03em -0.01em 0 #00ced3;
    color: $darkYellow;
  }
  5% {
    text-shadow: 0.005em -0.01em 0 #0096a2, -0.01em 0.01em 0 $darkYellow,
      -0.015em -0.015em 0 #00ced3;
    color: $darkYellow;
  }
  19% {
    text-shadow: 0.005em -0.01em 0 #0096a2, -0.01em 0.01em 0 $darkYellow,
      -0.015em -0.015em 0 #00ced3;
    color: white;
  }
  20% {
    text-shadow: 0.01em 0 0 #0096a2, 0.03em -0.0025em 0 white,
      -0.0025em -0.02em 0 #00ced3;
    color: $darkYellow;
  }
  99% {
    text-shadow: 0.01em 0 0 #0096a2, 0.03em -0.0025em 0 white,
      -0.0045em -0.03em 0 #00ced3;
    color: $darkYellow;
  }
  100% {
    text-shadow: -0.05em -0.05em 0 #0096a2, -0.01em 0.01em 0 white,
      -0.03em -0.01em 0 #00ced3;
    color: $darkYellow;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -0.02em 0 0 #0096a2, 0.01em -0.005em 0 white,
      0.03em -0.02em 0 #00ced3;
    color: $darkYellow;
  }
  4% {
    text-shadow: -0.02em 0 0 #0096a2, 0.01em -0.005em 0 white,
      0.03em -0.01em 0 #00ced3;
    color: $darkYellow;
  }
  5% {
    text-shadow: 0.005em -0.01em 0 #0096a2, -0.01em 0.01em 0 $darkYellow,
      -0.015em -0.015em 0 #00ced3;
    color: $darkYellow;
  }
  19% {
    text-shadow: 0.005em -0.01em 0 #0096a2, -0.01em 0.01em 0 $darkYellow,
      -0.015em -0.015em 0 #00ced3;
    color: white;
  }
  20% {
    text-shadow: 0.01em 0 0 #0096a2, 0.03em -0.0025em 0 white,
      -0.0025em -0.02em 0 #00ced3;
    color: $darkYellow;
  }
  99% {
    text-shadow: 0.01em 0 0 #0096a2, 0.03em -0.0025em 0 white,
      -0.0045em -0.03em 0 #00ced3;
    color: $darkYellow;
  }
  100% {
    text-shadow: -0.05em -0.05em 0 #0096a2, -0.01em 0.01em 0 white,
      -0.03em -0.01em 0 #00ced3;
    color: $darkYellow;
  }
}
